<h2>Broker Dashboard: Patrick PEBO Borja</h2>
<div id='summary-title' class='table-title'>
  <div class='border'>
    <div class='title'>DEAL SUMMARY</div>
  </div>
</div>
<div class='summary dashboard'>
  <table>
    <tr>
      <th colspan=2>Sale Summary</th>
    </tr>
    <tr>
      <td>Open Balance of Commissions:</td>
      <td>$1,000,000</td>
    </tr>
    <tr>
      <td>Open/Closed Commission Total</td>
      <td>$1,230,000</td>
    </tr>
    <tr>
      <td>Total Commission Collected</td>
      <td>$5,230,000</td>
    </tr>
  </table>
  <table>
    <tr>
      <th colspan=2>Lease Summary</th>
    </tr>
    <tr>
      <td>Open Balance of Commissions:</td>
      <td>$500,000</td>
    </tr>
    <tr>
      <td>Open/Closed Commission Total</td>
      <td>$1,200,000</td>
    </tr>
    <tr>
      <td>Total Commission Collected</td>
      <td>$2,000,000</td>
    </tr>
  </table>
</div>
<div class='clear'></div>
<div id='deal-list-table-title' class='table-title'>
  <div class='border'>
    <div class='title'>DEAL LIST</div>
    <div class='collapse-table'>
      <a id='deal-list-table-toggle' href='javascript:closeTable("deal-list-table")'>-</a>
    </div>
    <div id='deal-list-table_filter' class='filter'>
      <label>Search <input type="text" id='deal-list-table-search' /></label>
    </div>
  </div>
</div>
<table id='deal-list-table' class='deal-list dashboard'>
  <thead>
    <tr class='table-headers'>
      <th>Deal #</th>
      <th>Type</th>
      <th>Broker(s)</th>
      <th>Building</th>
      <th>Landlord/Bill To</th>
      <th>Sq Ft</th>
      <th>Total Commission</th>
      <th>Open Balance</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>800</td>
      <td>Lease</td>
      <td>PB</td>
      <td>926 Third Ave</td>
      <td>1-10 Industry Associates</td>
      <td>5,000</td>
      <td>$17,236.00</td>
      <td>$12,928.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>940</td>
      <td>Lease</td>
      <td>PB</td>
      <td>512 Marlsboro Ave</td>
      <td>Avery Inc.</td>
      <td>10,000</td>
      <td>$50,000.00</td>
      <td>$4,000.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>738</td>
      <td>Sale</td>
      <td>PB</td>
      <td>434 Bleecker St</td>
      <td>Camr Inc.</td>
      <td>8,970</td>
      <td>$20,000.00</td>
      <td>$2,000.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>201</td>
      <td>Lease</td>
      <td>PB, ND</td>
      <td>101 North 5th</td>
      <td>JPS Associates</td>
      <td>2,000</td>
      <td>$5,000.00</td>
      <td>-</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Lease</td>
      <td>PB</td>
      <td>85 Richardson St</td>
      <td>DRA Advisors LLC</td>
      <td>7,400</td>
      <td>$10,000.00</td>
      <td>-</td>
      <td>Closed</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Lease</td>
      <td>PB</td>
      <td>85 Richardson St</td>
      <td>DRA Advisors LLC</td>
      <td>7,400</td>
      <td>$10,000.00</td>
      <td>-</td>
      <td>Closed</td>
    </tr>
  </tbody>
</table>
<div id='deal-past-due-table-title' class='table-title'>
  <div class='border'>
    <div class='title'>DEAL WITH PAST DUE BALANCES</div>
    <div class='collapse-table'>
      <a id='deal-past-due-table-toggle' href='javascript:closeTable("deal-past-due-table")'>-</a>
    </div>
    <div id='deal-past-due-table_filter' class='filter'>
      <label>Search <input type="text" id='deal-past-due-table-search' /></label>
    </div>
  </div>
</div>
<table id='deal-past-due-table' class='deal-list dashboard'>
  <thead>
    <tr class='table-headers'>
      <th>Deal #</th>
      <th>Type</th>
      <th>Broker(s)</th>
      <th>Building</th>
      <th>Landlord/Bill To</th>
      <th>Sq Ft</th>
      <th>Total Commission</th>
      <th>Open Balance</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>800</td>
      <td>Lease</td>
      <td>PB</td>
      <td>926 Third Ave</td>
      <td>1-10 Industry Associates</td>
      <td>5,000</td>
      <td>$17,236.00</td>
      <td>$12,928.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>940</td>
      <td>Lease</td>
      <td>PB</td>
      <td>512 Marlsboro Ave</td>
      <td>Avery Inc.</td>
      <td>10,000</td>
      <td>$50,000.00</td>
      <td>$4,000.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>738</td>
      <td>Sale</td>
      <td>PB</td>
      <td>434 Bleecker St</td>
      <td>Camr Inc.</td>
      <td>8,970</td>
      <td>$20,000.00</td>
      <td>$2,000.00</td>
      <td>Open</td>
    </tr>
  </tbody>
</table>
<div id='deal-upcoming-option-table-title' class='table-title'>
  <div class='border'>
    <div class='title'>DEAL WITH UPCOMING OPTIONS</div>
    <div class='collapse-table'>
      <a id='deal-upcoming-option-table-toggle' href='javascript:closeTable("deal-upcoming-option-table")'>-</a>
    </div>
    <div id='deal-upcoming-option-table_filter' class='filter'>
      <label>Search <input type="text" id='deal-upcoming-option-table-search' /></label>
    </div>
  </div>
</div>
<table id='deal-upcoming-option-table' class='deal-list dashboard'>
  <thead>
    <tr class='table-headers'>
      <th>Deal #</th>
      <th>Type</th>
      <th>Broker(s)</th>
      <th>Building</th>
      <th>Landlord/Bill To</th>
      <th>Sq Ft</th>
      <th>Total Commission</th>
      <th>Open Balance</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>800</td>
      <td>Lease</td>
      <td>PB</td>
      <td>926 Third Ave</td>
      <td>1-10 Industry Associates</td>
      <td>5,000</td>
      <td>$17,236.00</td>
      <td>$12,928.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>940</td>
      <td>Lease</td>
      <td>PB</td>
      <td>512 Marlsboro Ave</td>
      <td>Avery Inc.</td>
      <td>10,000</td>
      <td>$50,000.00</td>
      <td>$4,000.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>738</td>
      <td>Sale</td>
      <td>PB</td>
      <td>434 Bleecker St</td>
      <td>Camr Inc.</td>
      <td>8,970</td>
      <td>$20,000.00</td>
      <td>$2,000.00</td>
      <td>Open</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Lease</td>
      <td>PB</td>
      <td>85 Richardson St</td>
      <td>DRA Advisors LLC</td>
      <td>7,400</td>
      <td>$10,000.00</td>
      <td>-</td>
      <td>Closed</td>
    </tr>
  </tbody>
</table>
<div id='deal-upcoming-option-table-title' class='table-title'>
  <div class='border'>
    <div class='title'>REAL ESTATE NEWS</div>
    <div class='collapse-table'>
      <a id='real-estate-news-toggle' href='javascript:closeTable("real-estate-news")'>-</a>
    </div>
  </div>
</div>
<div id='real-estate-news_wrapper' class='real-estate-news'>
</div>
<script>
  $(document).ready(function() {
    var dealListoTable = $('#deal-list-table').dataTable({
                       "bPaginate": false,
                       "bInfo": false
                  });
    $('#deal-list-table-search').keyup(function(obj) {
      dealListoTable.fnFilter($(this).val());
    });
    
    var dealPastDueoTable = $('#deal-past-due-table').dataTable({
                       "bPaginate": false,
                       "bInfo": false
                  });
    $('#deal-past-due-table-search').keyup(function(obj) {
      dealPastDueoTable.fnFilter($(this).val());
    });

    var dealUpcomingoTable = $('#deal-upcoming-option-table').dataTable({
                       "bPaginate": false,
                       "bInfo": false
                  });
    $('#deal-upcoming-option-table-search').keyup(function(obj) {
      dealUpcomingoTable.fnFilter($(this).val());
    });

  });

  function closeTable(tableId) {
    $('#' + tableId + '_wrapper').slideUp(500, function() {
      $('#' + tableId + '-title .border').css('border-bottom-left-radius', '5px');
      $('#' + tableId + '-title .border').css('border-bottom-right-radius', '5px');
      $('#' + tableId + '-toggle').html('+');
      $('#' + tableId + '-toggle').attr('href', 'javascript:openTable("' + tableId + '")');
    });
  }

  function openTable(tableId) {
    $('#' + tableId + '-title .border').css('border-bottom-left-radius', '');
    $('#' + tableId + '-title .border').css('border-bottom-right-radius', '');
    $('#' + tableId + '_wrapper').slideDown(500, function() {
      $('#' + tableId + '-toggle').html('-');
      $('#' + tableId + '-toggle').attr('href', 'javascript:closeTable("' + tableId + '")');
     });
  }
</script>
