.summary {
  width: 80%;
  margin: 0px auto 30px;
  height: 140px;
  background-color: rgba(240, 240, 240, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dashboard {
  color: black;
}

h3 {
  font-size: 16px;
  margin: 10px;
  color: rgba(44, 36, 29, .7);
  font-family: Arial;
  float: right;
}

h2 {
  clear:both;
  font-size: 30px;
  margin: 30px 20px 20px;
  color: rgba(44, 36, 29, .7);
  font-family: Arial;
  font-weight: bold;
}

.summary table {
  float: left;
  font-size: 16px;
  margin: 10px 113px 0px;
}

.summary table td {
  padding: 5px;
}

.summary table th {
  text-align:left;
  padding 10px;
}

.deal-list {
  border-spacing: 0px;
  border-bottom: 2px solid rgba(240, 240 ,240, 1);
  border-left: 2px solid rgba(240, 240 ,240, 1);
  border-right: 2px solid rgba(240, 240 ,240, 1);
  margin: 0px auto 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
}

.table-title {
  text-align: left;
  font-weight: bold;
  width: 80%;
  margin: auto;
}

.border {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color:  rgba(255,226, 179, 1);
  border: 2px solid rgba(240, 240 ,240, 1);
  height: 30px;
}

.table-title .title {
  float: left;
  margin: 8px 0px 0px 17px;
}

.table-title .filter {
  float: right;
  margin: 3px 20px 0px 0px;
}

.table-title .collapse-table {
  float: right;
  margin: 5px 0px 0px 0px;
}

.deal-list td {
  padding: 10px;
}

.deal-list th {
  padding: 10px; 
  background-color:  rgba(255,226, 179, .3);
 /*  background-color: rgb(137, 141, 153); */
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.deal-list th:hover {
  cursor: pointer;
}

.collapse-table {
  text-align: right;
  padding: 0px 15px 0px 0px;
}

.real-estate-news {
  height: 100px;
  width: 80%;
  margin: 0px auto 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(240, 240, 240, 1);
}


/* DATATABLE STYLING */
.dataTables_wrapper {
  width: 80%;
  margin: 0px auto;
  color: rgba(44, 36, 29, .7);
}

.dataTables_filter {
  float: right;
  display: none;
}

.dataTables_info {
  float: left;
}

.dataTables_paginate {
  float: right;
}

.paginate_enabled_next {
  color: black;
  margin: 0px 5px 0px 0px;
}

.paginate_enabled_previous {
  color: black;
  margin: 0px 0px 0px 5px;
}

.paginate_enabled_next:hover {
  color: white;
  cursor: pointer;
}

.paginate_enabled_previous:hover {
  color: white;
  cursor: pointer;
}

.paginate_disabled_next {
  display: none;
}

.paginate_disabled_previous {
  display: none;
}
.even {
  background-color: rgba(255, 255, 255, .7);
}

.odd {
  background-color: rgba(255, 255, 255, .5);
}
/*********************/
