.short-input {
  width: 45px;
}

.long-input {
  width: 310px;
}

.medium-input {
 width: 127px;
}

.input-label {
  width: 150px;
}

.input-label-long {
  width: 200px;
}

.short-label {
  margin: 0px 0px 0px 12px;
}

.phone-label {
  margin: 0px 0px 0px 8px;
}

.container-well {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  border: 2px solid rgb(150, 150, 150);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: black;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}

.container-well table {
  margin: 0px 0px 0px 8px;
}

.container-well h3 {
  float:none;
}

.container-well ul {
  float:left;
  margin: 0px 0px 0px 65px;
}

.sale-info-container {
  width: 80%;
  margin: 50px auto 0px;
  height: 100px;
}

.sale-left-container {
  float: left;
  width: 40%;
  margin: 0px 0px 0px 120px;
}

.sale-right-container {
  float: left;
  width: 40%;
  margin: 00px 0px 0px 43px;
}

.sub-nav-deals {
}

.sub-nav-deals li {
}
