.short-input {
  width: 45px;
}

.long-input {
  width: 310px;
}

.medium-input {
 width: 127px;
}

.input-label {
  width: 100px;
}

.input-label-long {
  width: 200px;
}

.short0-label {
  margin: 0px 0px 0px 12px;
}

.phone-label {
  margin: 0px 0px 0px 8px;
}

.container-well {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  border: 2px solid rgba(50, 50, 50, .8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: black;
  padding: 20px;
  overflow: hidden;
}

.container-frame {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.container-frame table {
  margin: 0px 0px 0px 8px;
}

.container-frame h3 {
  float:none;
  margin: 0px 0px 20px 0px;
}

.container-frame ul {
  float:left;
  margin: 0px 0px 0px 35px;
}

.deals-container {
  width: 75%;
  z-index: 100;
  min-height: 786px;
  float: left;
  margin: 20px 0px 0px 0px;
}

.deal-left-container {
  float: left;
  width: 45%;
  margin: 0px 0px 0px 7px;
}

.deal-right-container {
  float: left;
  width: 53%;
  margin: 0px 0px 0px 10px;
}

.sub-nav-deals {
  float: left;
  border-right: 0px;
  z-index: 10;
  padding: 0px;
  margin: 50px -50px 0px 100px
}

.sub-nav-deals li {
  padding: 10px 20px;
  background-color: rgba(140, 140, 140, .5);
  min-width: 115px;
  transition:background-color .1s ease-in;
  -webkit-transition:background-color .1s ease-in;
  -moz-transition:background-color .1s ease-in;
  -o-transition:background-color .1s ease-in;
}

.sub-nav-deals a {
  color: black;
}

.sub-nav-deals .new-deal {
  background-color: rgb(240, 240, 240);
}

.sub-nav-deals .new-deal-container {
  display: none;
  font-size: 12px;
  font-weight: normal;
}

.sub-nav-deals .new-deal-container li {
  border: 0px;
  padding: 10px 0px 0px 5px;
}

.sub-nav-deals .new-deal-container .subnav-selected span {
  border-left: 1px solid black;
  font-weight: bold;
}


.sub-nav-deals .new-deal-container span {
  border-left: solid 1px rgb(240, 240, 240);
  padding: 0px 0px 0px 10px;
}

.sub-nav-deals .new-deal-container span:hover {
  border-left: solid 1px black;
  font-weight: bold;
}

.sub-nav-deals .bt-border {
  border-bottom: solid 1px rgb(151, 151, 151);
}

.sub-nav-deals .subnav-selected, .sub-nav-deals li:hover {
  background-color: rgb(240, 240, 240);
  font-weight: bold;
  cursor: pointer;
}

.submit-form-inline {
  float: right;
  margin: 20px 0px 0px 0px;
}

.submit-form-bottom {
  float: right;
  padding: 0px;
  margin: 20px 0px 0px 0px;
  z-index: 101;
}

.form-buttons li {
  float: left;
  padding: 10px 30px;
}

.form-buttons .clear-form {
  background-color: rgba(236, 142, 142, 0.5);
  border-right: 1px solid black;
  transition:background-color .1s ease-in;
  -webkit-transition:background-color .1s ease-in;
  -moz-transition:background-color .1s ease-in;
  -o-transition:background-color .1s ease-in;
}

.form-buttons .clear-form:hover {
  background-color: rgba(236, 142, 142, 1);
  cursor: pointer;
}

.form-buttons .submit-form {
  background-color: rgba(177, 230, 177, 0.5);
  transition:background-color .1s ease-in;
  -webkit-transition:background-color .1s ease-in;
  -moz-transition:background-color .1s ease-in;
  -o-transition:background-color .1s ease-in;
}

.form-buttons .submit-form:hover {
  background-color: rgba(177, 230, 177, 1);
  cursor: pointer;
}
