.deal-submit-load {
  color: gray;
  font-style: italic;
  background-color: rgb(234, 246, 253);
  border: solid 1px rgb(178, 222, 233);
  display: none;
}

.deal-submit-load img {
  margin: 0px 10px;
}

.short-input {
  width: 45px;
}

.long-input {
  width: 250px;
}

.medium-input {
 width: 127px;
}

.input-label-long {
  width: 200px;
}

.short0-label {
  margin: 0px 0px 0px 12px;
}

.phone-label {
  margin: 0px 0px 0px 8px;
}

.max-width {
  width: 100%;
}

.bottom-border {
  border-bottom: solid 1px rgb(150, 150, 150);
}

.top-border {
  border-top: solid 1px rgb(150, 150, 150);
}

.message-container {
  margin: 0px 0px 10px 10px;
  display: none;
}

.message-container ul {
  padding: 0px;
}

.add-on-input {
  width: 84%;
}

.success-container {
  border: solid 2px rgb(88, 200, 0);
  background-color: rgb(220, 235, 208);
}

.success-well {
  border: solid 2px rgb(0, 200, 0);
  background-color: rgb(220, 255, 220);
 }

.error-title {
  font-weight: bold;
  font-size: 14px;
}
  
.error-area {
  font-weight: bold;
  font-size: 12px;
  margin: 5px 0px;
}

.error-msg {
  font-style: italic;
  font-size: 11px;
  margin: 0px 10px;
}

.addon-left {
  border-top-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  float: left;
}

.addon-right {
  border-top-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
  float: left;
}

.form-ul {
  margin: 10px 15px;
}

.form-ul li {
  margin: 6px 8px;
}

.form-ul .form-control {
  height: 23px;
}

.form-ul .form-radio {
  margin-left: 5px
}

.form-ul .form-text-area {
  height: auto;
}

.selected-form-ul {
  float: left;
}

.selected-form-ul label {
  float: left;
  width: 150px;
}

.selected-form-ul input {
  display: inline;
}

.payout-form-ul input {
  display: inline;
  margin-right: 10px;
}

.input-group-addon {
  float: left;
}

.container-frame {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 3px;
  padding: 0px;
  margin-top: 10px;
  overflow: hidden;
}

.container-frame table {
  margin: 10px 0px 10px 10px;
}

.container-frame .form-section-title {
  background-color: rgb(204, 204, 204);
  font-weight: bold;
  font-size: 18px;
  float:none;
  padding: 3px 0px 13px;
}

.container-frame .no-menu {
  border-bottom: solid 1px rgb(150, 150, 150);
}

.container-frame .form-section-title .title {
  margin: 0px 0px 0px 10px;
}

.container-frame .sub-menu {
  width: 101%;
  border-collapse: collapse;
  margin: 0px;
}

.container-frame .sub-container-tab {
  padding: 5px 20px 5px 20px;
  font-size: 12px;
  border-right: solid 1px rgb(150, 150, 150);
  border-top: solid 1px rgb(150, 150, 150);
  border-bottom: solid 1px rgb(150, 150, 150);
  width: 20%;
  text-align: center;
}

.container-frame .td-filler {
  border-bottom: solid 1px rgb(150, 150, 150);
  background-color: rgb(204, 204, 204);
}

.container-frame .selected {
  color: black;
  font-weight: bold;
  cursor: none;
  border-bottom: solid 0px rgb(150, 150, 150);
}

.container-frame .sub-container-tab:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.container-frame ul {
  float:left;
  margin: 0px 0px 0px 35px;
}

.container-frame .extra-customer-info-section {
  display: none;
}

.deals-container {
  z-index: 100;
  min-height: 786px;
  float: left;
  margin: 20px 0px 0px 0px;
}

.deal-left-container {
  float: left;
  width: 45%;
}

.deal-right-container {
  float: left;
  width: 54%;
  margin: 0px 0px 0px 10px;
}

.selected-input {
  display: inline;
  margin: 0px 0px 0px 10px;
}

.sub-nav-deals {
  float: left;
  z-index: 10;
  padding: 0px;
  margin: 20px 50px 0px 10px;
  border: solid 1px black;
}

.sub-nav-deals li {
  padding: 10px 20px;
  background-color: rgba(140, 140, 140, .5);
  min-width: 115px;
  transition:background-color .1s ease-in;
  -webkit-transition:background-color .1s ease-in;
  -moz-transition:background-color .1s ease-in;
  -o-transition:background-color .1s ease-in;
}

.sub-nav-deals a {
  color: black;
}

.sub-nav-deals .new-deal {
  background-color: rgb(240, 240, 240);
}

.sub-nav-deals .new-deal-container {
  font-size: 12px;
  font-weight: normal;
}

.sub-nav-deals .new-deal-container li {
  border: 0px;
  padding: 10px 0px 0px 5px;
}

.sub-nav-deals .new-deal-container .subnav-selected span {
  border-left: 1px solid black;
  font-weight: bold;
}


.sub-nav-deals .new-deal-container span {
  border-left: solid 1px rgb(240, 240, 240);
  padding: 0px 0px 0px 10px;
}

.sub-nav-deals .new-deal-container span:hover {
  border-left: solid 1px black;
  font-weight: bold;
}

.sub-nav-deals .bt-border {
  border-bottom: solid 1px rgb(151, 151, 151);
}

.sub-nav-deals .subnav-selected, .sub-nav-deals li:hover {
  background-color: rgb(240, 240, 240);
  font-weight: bold;
  cursor: pointer;
}

.submit-form-inline {
  float: right;
  margin: 20px 0px 0px 0px;
}

.submit-form-bottom {
  float: right;
  padding: 0px;
  margin: 20px 0px 0px 0px;
  z-index: 101;
}

.form-buttons li {
  float: left;
  padding: 10px 30px;
}

.form-buttons .clear-form {
  background-color: rgba(236, 142, 142, 0.5);
  border-right: 1px solid black;
  transition:background-color .1s ease-in;
  -webkit-transition:background-color .1s ease-in;
  -moz-transition:background-color .1s ease-in;
  -o-transition:background-color .1s ease-in;
}

.form-buttons .clear-form:hover {
  background-color: rgba(236, 142, 142, 1);
  cursor: pointer;
}

.form-buttons .submit-form {
  background-color: rgba(177, 230, 177, 0.5);
  transition:background-color .1s ease-in;
  -webkit-transition:background-color .1s ease-in;
  -moz-transition:background-color .1s ease-in;
  -o-transition:background-color .1s ease-in;
}

.form-buttons .submit-form:hover {
  background-color: rgba(177, 230, 177, 1);
  cursor: pointer;
}

.other-broker-dropdown {
  float: left;
  width: 30%;
  margin: 10px;
  font-size: 14px;
}

.other-broker-list {
  min-height: 15px;
  width: 50%;
  float: left;
  margin: 10px;
  font-size: 14px;
}

.principal-button {
  margin: 10px 0px 10px 10px;
}

.principal-form {
  overflow: hidden;
}

.principal-content-container {
  border: 1px solid rgb(200,200,200);
  padding: 3px 10px 10px;
  margin: 5px 13px;
  float: none;
  border-radius: 4px;
  font-size: 12px;
  background-color: rgb(250, 250, 250);
}

.principal-content-container .title {
  margin: 0px 0px 5px 0px;
  font-size: 14px;
  float: left;
  font-style: italic;
}

.principal-content-container .close {
  float: right;
}

.principal-content-container .close:hover {
  cursor: pointer;
}

.new-form {
  display: none;
  width: 100%;
}

.new-form .customer-form-submit {
  text-align: right;
}

.new-form .customer-form-submit-btn {
  width: 70px;
  margin: 10px 0px 0px 0px;
}

.customer-search .search-form .short-search-input {
  width: 15%;
  margin: 0px 20px 0px 0px;
}

.customer-search .search-form .search-button {
  padding: 0px 20px;
}

.property-search .search-form {
  margin: 0px 0px 20px 0px;
}

.property-search .search-form li {
  margin: 0px 0px 10px 0px;
  width: 100%;
}

.form-ul .address-search-input {
  width: 85%;
  display: inline;
}

.form-ul .short-search-input {
  width: 27%;
  float: left;
  margin: 0px 15px 0px 0px;
}

.form-ul .short-search-input input {
  display: inline;
  margin: 0px 0px 0px 10px;
  width: 69%;
}

.customer-search .search-results .search-wait {
  margin: 50px 0px;
  display: none;
}

.customer-search .search-results {
  width: 100%;
  border-top: 1px solid #CDCDCD;
  margin: auto;
  text-align: center;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.customer-search .search-results table {
  display: none;
  width: 101%;
  border-collapse: collapse;
  margin: 0px;
}

.search-results-header {
  background-color: rgb(236, 238, 255);
}

.customer-search .search-results table th {
  border-bottom: solid 1px rgb(150, 150, 150);
  font-size: 12px;
  padding: 0px 10px;
  text-align: left;
}

.customer-search .search-results table td {
  padding: 5px 10px;
  font-size: 12px;
}

.customer-search .search-results .results-row:hover {
  background-color: rgb(234, 235, 245);
  cursor: pointer;
}

.selected-container {
  font-size: 12px;
  display:none;
  width: 100%;
  border-top: solid 1px rgb(150, 150, 150);
  background-color: rgb(235, 235, 235);
}

.selected-container .selected-data {
  float: left;
}

.selected-container h3 {
  margin: 10px 15px 0px;
  font-size: 13px;
}


.selected-container table {
  float: right;
  margin: 0px 40px 0px 0px;
  font-size: 12px;
}

.selected-info {
  float: left;
  margin: 10px 0px 0px 15px;
  padding: 0px;
  width: 35%;
}

.customer-search .selected-attention {
  float: left;
  width: 62%;
}

.customer-search .selected-attention input {
  width: 80%;
}


.property-search .search-form ul {
  padding: 0px;
}

.property-search .search-form ul li {
  float: none;
  margin: 10px 0px 0px;
}

.property-search .search-form li input {
  display: inline;
}

.property-search .search-form .search-input {
  width: 80%;
}

table td .span-label {
  margin: 0px 0px 0px 5px;
  font-size: 14px;
}

.payment-schedule-btn {
  margin: 5px 22px;
}

.deal-search-results {
  width: 98%;
  border: solid black 1px;
  margin: 10px;
  border-collapse: collapse;
}

.deal-search-results thead {
  background-color: rgb(199, 199, 199);
}

.deal-search-results th {
  border-bottom: 1px solid black;
}

.deal-search-results td {
  padding: 3px 5px;
}

.deals-data {
  display: none;
}

/*****
WINDOW
******/
.default-container .window-nav {
  padding: 0px;
  margin: 0px;
  display: table;
  width: 100%;
}

.default-container .window-nav .window-nav-tab {
  padding: 5px 10px;
  border-bottom: 1px solid #CDCDCD;  
  font-size: 13px;
  width: 50%;
  text-align: center;
  color: #A8A8A8;
  float: left;
  border-left: solid 1px #CDCDCD;
}

.default-container .window-nav .window-nav-tab:first-child {
  border-left: 0px;
}
.default-container .window-nav:hover {
  text-decoration: none;
  cursor: pointer;
}

.default-container .window-nav .active {
  border-bottom: 0px;  
  color: #428bca;
}

.default-container .window-nav .active > a {
  color: #428bca;
  cursor: default;
}

/*****
END WINDOW
*****/
