body {
  margin: 0px;
  background-color: rgb(198, 204, 221);
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0px; 
  padding: 0px;
}

a {
  text-decoration: none;
}

.clear {
  clear:both;
}

.top-container {
  height: 75px;
  width: 100%;
  background-color: rgb(18, 27, 38);
}

.top-container .logo-container {
  float:left;
  width: 15%;
  padding: 15px 5px;
}

.top-container .top-right-container {
  float:left;
  width: 84%;
}

.top-container .top-right-container li {
  float: left;
}

.top-container .main-meta {
  color: rgb(255,226, 179);
  margin: 5px 0px 0px 65px;
  float: left;
}

.top-container .main-meta li {
  margin: 0px 0px 0px 20px;
  font-size: 12px;
  float: none;
}

.top-container .main-meta .welcome {
  font-size: 14px;
  font-weight: bold;
}

.top-container .welcome-text {
  margin: 50px 0px 0px 0px;
}

.top-container .sub-nav li {
  float:left;
  margin: 0px 0px 0px 15px;
}

.top-container .main-nav {
  float: left;
  margin: 0px 0px 0px 90px;
  height: 35px;
}

.top-container .main-nav li {
  font-size: 18px;
  width: 170px;
  text-align: center;
  height: 35px;
  margin: 40px 0px 0px 10px;
  background-color: rgba(198, 204, 221, .5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top-container .main-nav li span {
  line-height: 38px;
  color: rgba(220, 220, 220, .7);
}

.top-container .main-nav span:hover {
  color: rgb(255,226, 179);
}

.top-container .main-nav span:hover {
  cursor: pointer;
}

.top-container .main-nav .nav-selected {
  background-color: rgb(198, 204, 221);
}

.top-container .main-nav .nav-selected span {
  color: black;
  font-weight: bold;
}
