/***************************************************/
/* SCHEMES                                         */
/***************************************************/
.scheme-picker {
  background-color: white;
  color: black;
}

.msp-body-schemes {
  background-color: rgb(185, 183, 158);
  color: rgb(255,226, 179);
}

.msp-top-schemes {
  background-color: rgb(44, 36, 29);
  border-bottom: solid 6px rgb(255, 255, 255);
}

.msp-top-border {
  border-left: solid 10px rgb(44, 36, 29);
}

.indigo-body-schemes {
  background-color: rgb(182, 204, 184);
  color: rgb(255,226, 179);
}

.indigo-top-schemes {
  background-color: rgb(31, 54, 66);
  border-bottom: solid 6px rgb(109, 150, 141);
}

.indigo-top-border {
  border-left: solid 10px rgb(31, 54, 66);
}

.warm-grays-body-schemes {
  background-color: rgb(171, 163, 152);
  color: rgb(191, 183, 170);
}

.warm-grays-top-schemes {
  background-color: rgb(64, 61, 57);
  border-bottom: solid 6px rgb(127, 122, 113);
}

.warm-grays-top-border {
  border-left: solid 10px rgb(64, 61, 57);
}

.times-fonts {
  font-family: Times;
}

.arial-fonts {
  font-family: Arial;
}

.trebuchet-fonts {
  font-family: "Trebuchet MS";
}

.verdana-fonts {
  font-family: "Verdana";
}

.georgia-fonts {
  font-family: "Georgia";
}

.garamond-fonts {
  font-family: "Garamond";
}

/***************************************************/

body {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px; 
  padding: 0px;
}

a {
  text-decoration: none;
}

.clear {
  clear:both;
}

.top-container {
  height: 100px;
  width: 100%;
}

.top-container .logo-container {
  float:left;
  width: 20%;
  padding: 30px 0px 0px 0px;
}

.top-container .top-right-container {
  float:left;
  width: 80%;
}

.top-container .top-right-container li {
  float: left;
}

.top-container .main-meta {
  float: right;
  margin: 5px 5px 0px 0px;
}

.top-container .main-meta li {
  margin: 0px 0px 0px 20px;
  
}

.top-container .main-nav {
  float: left;
  margin: 65px 0px 0px 10px
}

.top-container .main-nav li {
  font-size: 20px;
  width: 123px;
  padding: 0px 10px;
  text-align: center;
}

.top-container .main-nav li span {

  padding-left: 10px;
}

.top-container .main-nav a {
  color: inherit;
}

.top-container .main-nav a:hover {
  color: rgb(255,226, 179);
}

.top-container .main-nav span:hover {
  border-left: solid 10px rgb(255,226, 179);
  cursor: pointer;
}

.top-container .main-nav .nav-selected {
  border-left: solid 10px rgb(255,226, 179);
  color: rgb(255,226, 179);
}
