<%= render  'appraisal_info' %>
<div class='deal-left-container'>
  <%= render  'bill_info' %>
</div>
<div class='deal-right-container'>
  <%= render  'extra_info' %>
  <%= render  'payment_schedule' %>
</div>
