<div class='appraisal-info-container container-frame'>
  <h3>Appraisal Info</h3>
  <ul>
    <li>Broker: Patrick PEBO Borja</li>
    <li>Deal #: 12345</li>
  </ul>
  <ul>
    <li>Type: Appraisal</li>
    <li>Total Fee to KDA: <input type='text' class='short-input' name='kda_comm' /></li>
  </ul>
</div>
