<div id='bill-info-container' class='bill-info-container default-container'>
  <div class='title-container'>
    <span class='title'>Bill To</span>
  </div>
  <ul class='window-nav'>
    <li id='bill-search-form' class='window-nav-tab active'>Search</li>
    <li id='bill-new-form' class='window-nav-tab'>New</li>
  </ul>
  <div class='clear'></div>
  <div id='bill-new' class='new-form'>
    <ul class='form-ul'>
      <li>
        <label class='form-label required'>First Name</label>
        <input type='text' id='bill-first-name' class='form-control long-input' />
      </li>
      <li>
        <label class='form-label required'>Last Name</label>
        <input type='text' id='bill-last-name' class='form-control long-input' />
      </li>
      <li>
        <label class='form-label required'>Company</label>
        <input type='text' id='bill-company' class='form-control long-input' />
      </li>
      <li>
        <label class='form-label required'>Street 1</label>
        <input type='text' id='bill-street1' class='form-control long-input' />
      </li>
      <li>
        <label class='form-label'>Street 2</label>
        <input type='text' id='bill-street2' class='form-control long-input' />
      </li>
      <li>
        <label class='form-label required'>City</label>
        <input type='text' id='bill-city' class='form-control medium-input' />
      </li>
      <li>
        <label class='form-label required'>State</label>
        <span id='bill-state-container' class='input-group-btn'></span>
        <div class='clear'></div>
      </li>
      <li>
        <label class='form-label required'>Zip</label>
        <input type='text' id='bill-zip' class='form-control medium-input' />
      </li>
      <li>
        <label class='form-label'>Country</label>
        <span id='bill-country-container' class='input-group-btn'></span>
        <div class='clear'></div>
      </li>
      <li>
        <label class='form-label required'>Attention</label>
        <input type='text' id='bill-attention-new' class='form-control long-input' />
      </li>
      <li>
        <span class='customer-form-submit'><button id='bill-principal-link' class='btn btn-default btn-xs'>Add Principal</button></span>
      </li>
    </ul>
    <div id='bill-principal-form' class='principal-form'></div>
    <div class='clear'></div>
  </div>
  <div id='bill-search' class='customer-search'>
    <ul class='form-ul'>
      <li>
        <span class='customer-search-label'>Name:</span>
        <input id='bill-search-text' class='form-control customer-search-input'/>
        <button id='bill-search-button' class='btn btn-primary btn-xs'>Search</button>
      </li>
    </ul>
    <div id='bill-selected-customer' class='selected-container'>
      <h3>Selected Billing Customer</h3>
      <input type='hidden' value='' id='bill-customer-id' />
      <ul class='selected-info'>
        <li><span id='bill-selected-first-name'></span> <span id='bill-selected-last-name'></span></li>
        <li id='bill-selected-company'></li>
        <li id='bill-selected-street1'></li>
        <li id='bill-selected-street2'></li>
        <li>
          <span id='bill-selected-city'></span>
          <span id='bill-selected-state'></span>
          <span id='bill-selected-zip'></span>
        </li>
        <li id='bill-selected-country'></li>
      </ul>
      <div class='form-ul selected-form-ul'>
        <label>Attention:</label><input type='text' id='bill-attention-search' class='form-control selected-input long-input'></div>
      <div class='clear'></div>
      <div id='bill-selected-principal-form' class='principal-form'></div>
      <div class='clear'></div>
      <button id='bill-selected-principal-link' class='btn btn-default btn-xs principal-button'>Add Principal</button>
    </div>
    <div class='search-results'>
      <img id='bill-search-wait' class='search-wait' src='/images/ajax-loader.gif' />
      <table id='bill-search-results-table'>
        <thead>
          <tr class='search-results-header'>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Zip</th>
          </li>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
