<div class='default-container'>
  <div class='title-container'>
    <span class='title'>Extra Info</span>
  </div>
  <ul id='extra-info-list' class='form-ul'>
    <li>
      <span class='form-label'>Detail of Work Performed:</span>
      <textarea id='detailWorkPerformed' name='comments' class='form-control form-text-area' rows=10 cols=70></textarea>
    </li>
    <li>
      <span>Broker Notes/Comments</span>
      <textarea id='brokerComments' name='comments' class='form-control form-text-area' rows=10 cols=70></textarea>
    </li>
  </ul>
</div>
