<div class='extra-info-container container-frame'>
  <table>
    <tr>
      <td colspan=2>
        Detail of Work Performed:<br/>
        <textarea name='comments' rows=10 cols=70></textarea>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        Broker Notes/Comments<br/>
        <textarea name='comments' rows=10 cols=70></textarea>
      </td>
    </tr>
  </table>
</div>
