<div id='deal-info-container' class='sale-info-container default-container'>
  <div class='title-container'>
    <span class='title'><%= form_label %> Info</span>
  </div>
  <ul class='form-ul'>
    <li>
      <label class='form-label'>Broker:</label>
      <% if current_user.is_admin -%>
        <span id='main-broker' class="input-group-btn"></span>
        <div class='clear'></div>
      <% else -%>
        <input id='deal-main-broker' type='hidden' value='Paliick Borja'/>
      <% end -%>
    </li>
    <li>
      <label class='form-label'>Type:</label> 
      <span class='input-group-value'><%= form_label %></span>
      <div class='clear'></div>
    </li>
    <li>
      <label class='form-label'>Commission to KDA:</label> 
      <span><input type='text' class='form-control long-input' name='kda_comm' id='kda_comm' /></span>
    </li>
    <% if show_broker_form %>
      <li>
        <label class='form-label'>Add Co-Broker:</label>
        <span id="co-broker" class="input-group-btn"></span>
        <div class='clear'></div>
      </li>
      <li> 
        <label class='form-label'>Co-Broker Percentage: </label>
        <span>
          <input id='co_broker_per' type='text' class='co-broker-per form-control' name='co_broker_per' />
          <span class='input-group-addon'>%</span>
        </span>
      </li>
      <li id='other-broker-info' class='clear' >
        <label class='form-label'>Add Other Brokers to Deal:</label>
        <span id='other-brokers' class="input-group-btn"></span>
        <div class='clear'></div>
      </li>
      <li>
        <label class='form-label'>Added Brokers:</label>
        <div id='broker-list' class='other-broker-list'></div>
        <div class='clear'></div>
      </li>
    <% end -%>
  </ul>
</div>
