<div class='sale-info-container container-frame'>
  <div class='form-section-title no-menu'>
    <span class='title'><%= form_label %> Info</span>
  </div>
  <ul class='list max-width'>
    <% if current_user.is_admin -%>
      <li>Broker: 
        <%= select_tag 'deal-main-broker', options_for_select(@broker_option_list), :class => 'list-btn', :id => 'deal-main-broker' %>
      </li>
    <% else -%>
      <li>
         Broker: Patrick PEBO Borja
         <input id='deal-main-broker' type='hidden' value='Patrick Borja'/>
      </li>
    <% end -%>
    <li>Type: <%= form_label %></li>
    <li class='required'>Total Commision to KDA: <input type='text' class='short-input' name='kda_comm' id='kda_comm' /></li>
  </ul>
  <div class='clear'></div>
  <% if show_broker_form %>
    <div class='top-border auto-expand-floats'>
      <ul id='co-broker-info' class='list'>
        <li>Co-Broker: <select id='co-broker-select'><option>Prudential</option></select></li>
        <li>Co-Broker %: <input id='co_broker_per' type='text' class='short-input' name='co_broker_per' /></li>
      </ul>
      <ul class='list'>
        <li><input type='checkbox' id='activate-create-co-broker' value='1' />New Co-Broker</li>
        <li>Name: <input type='text' class='medium-input' name='new-co-broker' id='new-co-broker' disabled/></li>
      </ul>
    </div>
    <div class='clear'></div>
    <div class='top-border'>
      <ul id='other-broker-info' class='no-border other-broker-dropdown'>
        <li>Other Brokers in Deal:</li>
        <li> 
           <select id='broker-list-btn' class='list-btn' size='10'>
             <option value="" disabled>-- Add Broker --</option></select>
        </li>
      </ul>
      <ul id='broker-list' class='other-broker-list'>
        <div>Selected Brokers:<div>
      </ul>
    </div>
  <% end -%>
</div>
