<div class='marketing-info-container container-frame'>
  <h3>Marketing Info</h3>
  <table>
    <tr>
      <td class='input-label-long'>Did KDA have a sign on the building?</td>
      <td>
        <input type='radio' name='kda_sign' value='yes'/> Yes
        <input type='radio' name='kda_sign' value='no'/> No
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>KDA exclusive?</td>
      <td>
        <input type='radio' name='kda_exclusive' value='yes'/> Yes
        <input type='radio' name='kda_exclusive' value='no'/> No
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>How did we advertise?</td>
      <td>
        <input type='text' name='advertise_type' class='long-input'/>
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>How did buyer find KDA?</td>
      <td>
        <input type='text' name='buyer_find' class='long-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>How long was listing on the market (Days)</td>
      <td>
        <input type='text' name='market_days' class='long-input'>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        Broker Notes/Comments<br/>
        <textarea name='comments' rows=10 cols=70></textarea>
      </td>
    </tr>
  </table>
</div>
