<div class='options-container container-frame'>
  <div class='form-section-title no-menu'>
    <span class='title'>Options</title>
  </div>
  <table>
    <tr>
      <td class='input-label-long'>Options in Lease?</td>
      <td>
        <input type='radio' name='options' value='yes'/> Yes
        <input type='radio' name='options' value='no'/> No
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>How many options?</td>
      <td>
        <input type='text' id='options_count' class='long-input'/>
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>Date Options Begins</td>
      <td>
        <input type='text' id='options_begin' class='long-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>Late Charges Apply?</td>
      <td>
        <input type='radio' name='late_charges_apply' value='yes'/> Yes
        <input type='radio' name='late_charges_apply' value='no'/> No
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>Late Charge %</td>
      <td>
        <input type='text' id='late_charge_per' class='long-input'/>
      </td>
    </tr>
    <tr>
      <td class='input-label-long'>Grace Period</td>
      <td>
        <input type='text' id='late_charge_grace_period' class='long-input' />
      </td>
    </tr>
  </table>
</div>
