<div class='payment-schedule-container container-well'>
  <h3>Payout Schedule</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Payment Due</th>
      <th>Date</th>
      <th>Payment</th>
    </tr>
    <tr>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
    </tr>
    <tr>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
    </tr>
    <tr>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
      <td><input type=text class='medium-input'></td>
    </tr>
  </table>
</div>
