<div class='property-info-container container-frame'>
  <h3>Property Info</h3>
  <table>
    <tr>
      <td class='input-label'>Street 1</td>
      <td colspan=2><input type='text' name='bill_street1' id='bill_street1' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Street 2</td>
      <td colspan=2><input type='text' name='bill_street2' id='bill_street2' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>City</td>
      <td><input type='text' name='city' id='city' class='medium-input' /></td>
      <td class=''>
        <span class='short-label'>State</span>
        <select name='state' id='state' class='small-label'></select>
        <span class='short-label'>Zip:</span>
        <input type='text' name='zip' id='zip' class='short-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label'>Country</td>
      <td colspan=2><select id='country' name='country'></select></td>
    </tr>
    <tr>
      <td class='input-label'>Space Type</td>
      <td>
        <select name='space_type'></select>
      </td>
      <td>
        <span>Size</span>
        <input type='text' name='size' id='size' class='short-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label'>Sale Price</td>
      <td>
        <input type='text' name='size' id='size' class='medium-input' />
      </td>
      <td>
        <span>Sale Price (per sq ft)</span>
        <input type='text' name='size' id='size' class='medium-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label'>Buyer Use</td>
      <td>
        <input type='text' name='buyer_use' id='buyer_use' class='medium-input' />
      </td>
      <td>
        <span>Attorney Name</span>
        <input type='text' name='attorney' id='attorney' class='medium-input' />
      </td>
    </tr>
  </table>
</div>
