<div class='property-info-container default-container'>
  <div class='title-container'>
    <span class='title'>Property Info</span>
  </div>
  <table class='window-nav'>
    <tr>
      <td id='property-search-form' class='window-nav-tab active'>Search</td>
      <td id='property-new-form' class='window-nav-tab'>New</td>
    </tr>
  </table>
  <div class='clear'></div>
  <div id='property-new' class='new-form'>
    <ul class='input-group-xs form-ul'>
      <li>
        <label class='search-input-label'>Street 1</label>
        <input type='text' id='property-street1' class='form-control long-input' />
      </li>
      <li>
        <label class='search-input-label'>Street 2</label>
        <input type='text' id='property-street2' class='form-control long-input' />
      </li>
      <li>
        <label class='search-input-label required'>City</label>
        <input type='text' id='property-city' class='form-control medium-input' />
      </li>
      <li>
        <label class='search-input-label required'>State</label>
        <span id='property-state-container' class='5nput-group-btn'></span>
        <div class='clear'></div>
      </li>
      <li>
        <label class='search-input-label required'>Zip</label>
        <input type='text' id='bill-zip' class='form-control short-input' />
      </li>
      <li>
        <label class='search-input-label'>Country</label>
        <span id='property-country-container' class='input-group-btn'></span>
        <div class='clear'></div>
      </li>
      <li>
        <label class='search-input-label'>Space Type</label>
        <span id='space-type' class='input-group-btn'></span>
        <div class='clear'></div>
      </li>
      <li>
        <label class='search-input-label'>Size</label>
        <span>
          <input type='text' id='property-size' class='medium-input form-control addon-right' />
         <span class='input-group-addon'>ft</span>
        </span>
        <span id='sqft' class='span-label'></span>
      </li>
      <div class='clear'></div>
      <% if deal_type == "lease" %>
        <li>
          <label class='search-input-label'>Lease Price (Annual)</label>
          <span>
            <span class='input-group-addon'>$</span>
            <input type='text' id='property-price' class='medium-input form-control addon-left' />
          </span>
        </li>
        <div class='clear'></div>
        <li>
          <label class='search-input-label'>Term of Lease (Months)</label>
          <input type='text' id='term-of-lease' class='form-control medium-input' />
        </li>
        <li>
          <label class='search-input-label'>Start Date</label>
          <input type='text' id='start-date' class='form-control medium-input' />
        </li>
        <li>
          <label class='search-input-label'>Security</label>
          <input type='text' id='security' class='form-control medium-input' />
        </li>
        <li>
          <label class='search-input-label'>Tenant Use</label>
          <input type='text' id='tenant-use' class='form-control medium-input' />
      <% else -%>
        <li>
          <label class='search-input-label'>Sale Price</label>
          <span>
            <span class='input-group-addon'>$</span>
            <input type='text' id='property-price' class='medium-input form-control addon-left' />
          </span>
          <div class='clear'></div>
        </li>
        <li>
          <label class='search-input-label'>Buyer Use</label>
          <input type='text' id='buyer-use' class='long-input form-control' />
        </li>
        <li>
          <label class='search-input-label'>Attorney Name</label>
          <input type='text' id='property-attorney' class='long-input form-control' />
        </li>
      <% end -%>
    </ul>
  </div>
  <div id='property-search' class='customer-search property-search'>
    <ul class='form-ul'>
      <li>
        <span class='customer-search-label'>Address:</span>
        <input id='property-search-address' class='form-control address-search-input'/></li>
      <li class='clear'></li>
      <li>
        <span class='short-search-input'>
          <span>City:</span><input id='property-search-city' class='form-control'/>
        </span>
        <span class='short-search-input'>
          <span>State:</span><input id='property-search-state' class='form-control'/>
        </span>
        <span class='short-search-input'>
          <span>Zip:</span><input id='property-search-zip' class='form-control'/>
        </span>
        <button id='property-search-button' class='btn btn-primary btn-xs'>Search</button>
      </li>
    </ul>
    <div id='property-selected' class='selected-container'>
      <h3>Selected Property</h3>
      <input type='hidden' value='' id='property-id' />
      <ul class='selected-info'>
        <li id='property-street1-selected'></li>
        <li id='property-street2-selected'></li>
        <li>
          <span id='property-city-selected'></span>
          <span id='property-state-selected'></span>
          <span id='property-zip-selected'></span>
        </li>
        <li id='property-country-selected'></li>
        <li id='property-space-type-selected'></li>
      </ul>
      <ul class='form-ul selected-form-ul'>
        <li>
          <label>Size</label>
          <span>
            <input type='text' id='property-size-selected' class='medium-input form-control addon-right' />
            <span class='input-group-addon'>ft</span>
          </span>
          <span id='sqft' class='span-label'></span>
          <div class='clear'></div>
        </li>
        <% if deal_type == "lease" %>
          <li>
            <label>Lease Price (Annual)</label>
            <span>
              <span class='input-group-addon'>$</span>
              <input type='text' id='property-price-selected' class='medium-input form-control addon-left' />
            </span>
            <div class='clear'></div>
          </li>
          <li>
            <label>Term Of Lease</label>
            <input type='text' id='term-of-lease-selected' class='form-control medium-input' />
          </li>
          <li>
            <label>Start Date</label>
            <input type='text' id='start-date-selected' class='form-control medium-input' />
          </li>
          <li>
            <label>Tenant Use</label>
            <input type='text' id='tenant-use-selected' class='form-control medium-input' />
          </li>
          <li>
            <label>Security</label>
            <input type='text' id='security-selected' class='form-control medium-input' />
          </li>
        <% else -%>
          <li>
            <label>Sale Price</label>
            <span>
              <span class='input-group-addon'>$</span>
              <input type='text' id='property-price-selected' class='medium-input form-control addon-left' />
            </span>
          </li>
          <li>
            <label>Buyer Use</label>
            <input type='text' id='buyer-use-selected' class='form-control medium-input' />
          </li>
          <li>
            <label>Attorney Name</label>
            <input type='text' id='property-attorney-selected' class='form-control medium-input' />
          </li>
        <% end -%>
      </ul>
      <div class='clear'></div>
    </div>
    <div class='search-results'>
      <img id='property-search-wait' class='search-wait' src='/images/ajax-loader.gif' />
      <table id='property-search-results-table'>
        <thead>
          <tr class='search-results-header'>
            <th>Space Type</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
