<div id='purchaser-info-container' class='purchaser-info-container container-frame'>
  <div class='form-section-title'>
    <span class='title'>Purchaser</span>
  </div>
  <table class='sub-menu'>
    <tr>
      <td id='purchaser-search-form' class='sub-container-tab selected'>Search</td>
      <td id='purchaser-new-form' class='sub-container-tab'>New</td>
      <td class='td-filler'></td>
    </tr>
  </table>
  <div class='clear'></div>
  <div id='purchaser-new' class='new-form'>
    <table>
      <tr>
        <td class='input-label required'>First Name</td>
        <td colspan=2><input type='text' name='purchaser-first-name' id='purchaser-first-name' class='long-input' /></td>
      </tr>
      <tr>
        <td class='input-label required'>Last Name</td>
        <td colspan=2><input type='text' name='purchaser-last-name' id='purchaser-last-name' class='long-input' /></td>
      </tr>
      <tr>
        <td class='input-label required'>Company</td>
        <td colspan=2><input type='text' name='purchaser-company' id='purchaser-company' class='long-input' /></td>
      </tr>
      <tr>
        <td class='input-label required'>Street 1</td>
        <td colspan=2><input type='text' name='purchaser-street1' id='purchaser-street1' class='long-input' /></td>
      </tr>
      <tr>
        <td class='input-label'>Street 2</td>
        <td colspan=2><input type='text' name='purchaser-street2' id='purchaser-street2' class='long-input' /></td>
      </tr>
      <tr>
        <td class='input-label required'>City</td>
        <td><input type='text' name='purchaser-city' id='purchaser-city' class='medium-input' /></td>
        <td class=''>
          <span class='span-label required'>State</span>
          <select name='purchaser-state' id='purchaser-state' class='small-label'></select>
          <span class='span-label required'>Zip:</span>
          <input type='text' name='zip' id='zip' class='short-input' />
        </td>
      </tr>
      <tr>
        <td class='input-label'>Country</td>
        <td colspan=2><select id='purchaser-country' name='purchaser-country'></select></td>
      </tr>
      <tr>
        <td class='input-label required'>Attention</td>
        <td colspan=2><input type='text' name='purchaser-attention' id='purchaser-attention' class='long-input' /></td>
      </tr>
    </table>
    <div id='purchaser-principal-form' class='principal-form'></div>
    <div class='clear'></div>
    <div id='purchaser-principal-link' class='gray-button'>Add Principal</div>
  </div>
  <div id='purchaser-search' class='customer-search'>
    <div class='search-form'>
      Name: <input id='purchaser-search-text' class='search-input'/>
      <span id='purchaser-search-button' class='gray-button search-button'>Search</span>
    </div>
    <div id='purchaser-selected-customer' class='selected-customer'>
      <h3>Selected Purchasing Customer</h3>
      <input type='hidden' value='' id='purchaser-customer-id' />
      <ul>
        <li><span id='purchaser-selected-first-name'></span> <span id='purchaser-selected-last-name'></span></li>
        <li id='purchaser-selected-company'></li>
        <li id='purchaser-selected-street1'></li>
        <li id='purchaser-selected-street2'></li>
        <li>
          <span id='purchaser-selected-city'></span>
          <span id='purchaser-selected-state'></span>
          <span id='purchaser-selected-zip'></span>
        </li>
        <li id='purchaser-selected-country'></li>
      </ul>
      <div class='selected-attention'>Attention: <input type='text' id='purchaser-attention'></div>
      <div id='purchaser-selected-principal-form' class='principal-form'></div>
      <div class='clear'></div>
      <div id='purchaser-selected-principal-link' class='gray-button'>Add Principal</div>
    </div>
    <div class='search-results'>
      <img id='purchaser-search-wait' class='search-wait' src='/images/ajax-loader.gif' />
      <table id='purchaser-search-results-table'>
        <thead>
          <tr class='search-results-header'>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Zip</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
