<div class='purchase-info-container container-well'>
  <h3>Purchaser</h3>
  <table>
    <tr>
      <td class='input-label'>First Name</td>
      <td colspan=2><input type='text' name='first_name' id='first_name' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Last Name</td>
      <td colspan=2><input type='text' name='last_name' id='last_name' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Company</td>
      <td colspan=2><input type='text' name='company' id='company' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Street 1</td>
      <td colspan=2><input type='text' name='purchaser_street1' id='purchaser_street1' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Street 2</td>
      <td colspan=2><input type='text' name='purchaser_street2' id='purchaser_street2' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>City</td>
      <td><input type='text' name='city' id='city' class='medium-input' /></td>
      <td class=''>
        <span class='short-label'>State</span>
        <select name='state' id='state' class='small-label'></select>
        <span class='short-label'>Zip:</span>
        <input type='text' name='zip' id='zip' class='short-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label'>Country</td>
      <td colspan=2><select id='country' name='country'></select></td>
    </tr>
    <tr>
      <td class='input-label'>Attention</td>
      <td colspan=2><input type='text' name='attention' id='attention' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Principal 1</td>
      <td colspan=2><input type='text' name='purchaser_principal1' id='purchaser_principal1' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Principal 1 Email</td>
      <td><input type='text' name='purchaser_principal_email1' id='purchaser_principal_email1' class='medium-input' /></td>
      <td class='input-label'>
        <span class='phone-label'>Phone </span>
        <input type='text' name='purchaser_phone1' id='purchaser_phone1' class='medium-input' />
      </td>
    </tr>
    <tr>
      <td class='input-label'>Principal 2</td>
      <td colspan=2><input type='text' name='purchaser_principal2' id='purchaser_principal2' class='long-input' /></td>
    </tr>
    <tr>
      <td class='input-label'>Principal 2 Email</td>
      <td><input type='text' name='purchaser_principal_email2' id='purchaser_principal_email2' class='medium-input' /></td>
      <td class='input-label'>
        <span class='phone-label'>Phone </span>
        <input type='text' name='purchaser_phone2' id='purchaser_phone2' class='medium-input' />
      </td>
    </tr>
  </table>
</div>
