<div class='sale-info-container container-well'>
  <h3>Sale Info</h3>
  <ul>
    <li>Broker: Patrick PEBO Borja</li>
    <li>Deal #: 12345</li>
  </ul>
  <ul>
    <li>Type: Sale</li>
    <li>Total Commision to KDA: <input type='text' class='short-input' name='kda_comm' /></li>
  </ul>
  <ul>
    <li>Co-Broker: <select name='co_broker'><option>Prudential</option></select></li>
    <li>Co-Broker %: <input type='text' class='short-input' name='co_broker_per' /></li>
  </ul>
  <ul>
    <li>Other Brokers in Deal: <button>Add Broker</button></li>
    <li>RK, CK</li>
  </ul>
</div>
