<div class='search-criteria container-frame'>
  <table>
    <tr>
      <td>Deal ID:</td>
      <td><input type='text' name='deal_id' /></td>
    </tr>
    <tr>
      <td class='label'>Deal Type</td>
      <td>
        <select name='deal_type' id='deal_type'>
          <option value='sale'>Sale</option>
          <option value='lease'>Lease</option>
          <option value='appraisal'>Appraisal</option>
          <option value='tax_protest'>Tax Protest</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan=2><button>Search</button></td>
    </tr>
  </table>
</div>
