<div class='deals-data'><%= @data %></div>
<div class='deals-container'>
  <div id='message-container' class='message-container alert'></div>
  <div id='deals-form-container' class='container-well'>
    <%= render  @partial %>
    <div class='clear'></div>
    <div class='submit-form-bottom container-well form-buttons'>
      <ul>
        <li>
          <button id='submit-form' class='btn btn-info btn-lg'>Submit</button>
          <div id='deal-submit-load' class='deal-submit-load btn-lg'>Saving<img src='/images/ajax-loader.gif'/></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>require(['views/deals_main'], function() {});</script>
